.content {
  grid-area: content;
  text-align: center;
}

.section {
  width: 100%;
  padding: 60px 0;
}

.section > h2 {
  text-align: center;
  font-weight: bold;
}

.section-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section * > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  object-fit: cover;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text > h3 {
  color: #009da5;
  margin: 0;
}

.services-section {
  background-color: rgb(240, 240, 240);
}

.service-details {
  border-radius: 10px;
  background-color: #009da5;
  color: white;
  margin: 20px 0;
}

.service-details:hover {
  cursor: pointer;
  background-color: black;
}

.service-summary {
  padding: 10px 30px;
  font-family: "Montserrat";
  text-align: left;
}

.service-card-btn:hover {
  background-color: black;
  cursor: pointer;
}

.service-content {
  background-color: white;
  color: black;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
}

.button {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  width: 50%;
  color: white;
}

.service-card-content > button:hover {
  background-color: #009da5;
  width: 50%;
}

.prices {
  color: #009da5;
}

.details {
  padding: 0 10px;
  border-top: rgb(235, 235, 235) 1px solid;
}

.toggle-arrow {
  margin: 10px;
}

.book-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-text > h3 {
  color: #009da5;
  margin: 0;
}

input {
  width: 98%;
  font-family: "Montserrat";
}

.content-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 200px;
}

button:hover {
  cursor: pointer;
  background-color: black;
}
